<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetCare</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    .logo {
      max-width: 150px;
      display: block;
      margin: 0 auto 20px;
    }

    h1, h2, p, ul, li {
      color: #030303;
    }

    ul {
      margin-top: 0;
      padding-left: 20px;
    }

    li {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="/assets/img/logo.png" alt="Logo de PetCare" class="logo">

    <h1>Bienvenido a PetCare</h1>
    <p>¡Gracias por elegirnos para el cuidado de tu mascota!</p>

    <h2>Nuestra misión:</h2>
    <p>En PetCare, nos dedicamos a brindar el mejor cuidado posible para tu mascota. Nuestro equipo de veterinarios altamente capacitados está comprometido con la salud y el bienestar de tu compañero peludo.</p>

    <h2>¿Por qué elegir PetCare?</h2>
    <ul>
      <li>Amamos a los animales tanto como tú, y tratamos a cada mascota con el mismo cuidado y respeto que a la nuestra.</li>
      <li>Contamos con instalaciones modernas y equipamiento de última generación para garantizar un servicio de alta calidad.</li>
      <li>Nuestro personal está siempre disponible para responder a tus preguntas y brindarte la orientación que necesitas para cuidar a tu mascota de la mejor manera.</li>
      <li>Ofrecemos una amplia gama de servicios, desde consultas veterinarias hasta cirugías y cuidados intensivos, todo bajo un mismo techo para tu comodidad.</li>
    </ul>

    <p>Gracias por confiar en PetCare para el cuidado de tu mascota. ¡Estamos aquí para ayudarte en cada paso del camino!</p>
  </div>
</body>
</html>
