<div class="nosotros">
  <h2>¿Quiénes somos?</h2>
  <p style="text-align: center;">Somos un equipo de profesionales apasionados por el cuidado de las mascotas y dedicados a su bienestar.</p>

  <h2>Nuestro Equipo</h2>
  <div class="equipo">
    <div class="miembro">
      <img src="/assets/img/VETERINARIO.jpeg" alt="Nombre del Veterinario"> <!-- Imagen del veterinario -->
      <h3>Dr. Juan Pérez</h3> <!-- Nombre del veterinario -->
      <p style="text-align: center;">Médico Veterinario</p> <!-- Especialidad del veterinario -->
    </div>
    <div class="miembro">
      <img src="/assets/img/VETERINARIA.jpg" alt="Nombre del Veterinario"> <!-- Imagen del veterinario -->
      <h3>Dra. María González</h3> <!-- Nombre del veterinario -->
      <p style="text-align: center;">Médico Veterinario</p> <!-- Especialidad del veterinario -->
    </div>
    <!-- Agregar más miembros del equipo aquí si es necesario -->
  </div>

  <h2>Nuestra Historia</h2>
  <p style="text-align: center;">Con más de 10 años de experiencia, nuestra clínica veterinaria se ha destacado por brindar un servicio de calidad y amor por los animales.</p> 

  <h2>Nuestros Valores</h2>
  <ul>
    <li>Amor por los animales</li> 
    <li>Compromiso con su salud y bienestar</li>
    <li>Ética profesional</li>
    <li>Excelencia en el servicio</li>
  </ul>

  <h2>Proyectos y Logros</h2>
  <p style="text-align: center;">Hemos participado en campañas de esterilización y adopción responsable, así como en programas de educación sobre el cuidado de mascotas.</p> 

  <h2>Contacto</h2>
  <p style="text-align: center;">Teléfono: 123-456-7890</p> <!-- contacto -->
</div>
